:root {
  --main-color: #silver;
  --secondary-color: #000000;
  --tertiary-color: #50575e;
  --quaternary-color: #f0f0f1;
  --quinary-color: #0000ff;
}

body {
  box-sizing: border-box;
  background-color: var(--main-color);
  margin: 0;
  padding: 0;
}

/* ------------------header section----------------------------  */

.header {
  display: flex;
  width: 100vw;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  align-items: center;
  gap: 25%;
  background-color: var(--secondary-color);
}

.BusCoImg {
  width: 150px;
  height: 150px;
}

.moto {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  display: block;
  text-align: center;
  color: var(--quaternary-color);

  padding-left: 15px;
  border-left: 3px solid var(--quaternary-color);
}

/* ------------------end of header section----------------------------  */

/* ------------------intro section----------------------------  */

.intro {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-align: center;
  color: var(--quaternary-color-color);
  margin-bottom: 50px;
}

/* ------------------end of intro section----------------------------  */

/* ------------------middle section----------------------------  */

.middle {
  height: 33vw;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;

  flex-direction: row;
  gap: 150px;
}

.graph {
  background-color: var(--quinary-color);
  border-radius: 10px;
  background-color: var(--tertiary-color);
}

.cityImg {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  padding: 25px;

  position: relative;
  z-index: 1;
}

/* ------------pointer on map--------------*/

.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 20px auto;
  box-sizing: border-box;
  position: absolute;

  z-index: 2;
  left: 25.15%;
  top: 48.5%;
}

.loader::after {
  content: "";
  width: 48px;
  height: 48px;
  left: 0;
  bottom: 0;
  position: absolute;
  border-radius: 50% 50% 0;
  border: 15px solid red;
  transform: rotate(45deg) translate(0, 0);
  box-sizing: border-box;
  animation: animMarker 0.4s ease-in-out infinite alternate;
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150%;
  width: 24px;
  height: 4px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  animation: animShadow 0.4s ease-in-out infinite alternate;
}

@keyframes animMarker {
  0% {
    transform: rotate(45deg) translate(5px, 5px);
  }

  100% {
    transform: rotate(45deg) translate(-5px, -5px);
  }
}

@keyframes animShadow {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

/* ------------end of pointer-------------- */
.logInChoice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-left: 150px;
  padding: 25px;
  padding-bottom: 100px;
  border-radius: 10px;
  border: var(--quaternary-color) solid 2px;
  gap: 25px;

  background-color: var(--secondary-color);
}

.logText {
  color: var(--quaternary-color);
  font-style: italic;
}

.btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.btn {
  align-items: center;
  background-image: linear-gradient(
    144deg,
    var(--main-color),
    var(--tertiary-color) 50%,
    var(--quaternary-color)
  );
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(252, 65, 65, 0) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  width: 250px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:active,
.btn:hover {
  outline: 0;
}

.btn span {
  background-color: var(--secondary-color);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.btn:hover span {
  background: none;
}

.btn:active {
  transform: scale(0.9);
}

.text {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.signUp {
  color: var(--quaternary-color);
}

/* ------------------link styling------------------------------ */
a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
  color: var(--main-color);
}

.btnLink,
.btnLink:hover,
.btnLink:active {
  text-decoration: none;
}

/* ------------------link styling------------------------------ */

/* ------------------end of middle section----------------------------  */

/* ------------------footer section----------------------------  */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--secondary-color);
  color: var(--quaternary-color);
  margin: 0;
  padding: 0;
}

/* ------------------end of footer section----------------------------  */
