@charset "UTF-8";
:root {
  --main-color: #f0f0f1;
  --secondary-color: #000000;
  --tertiary-color: #50575e;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  font-family: "Lora", serif;

  overflow: hidden;
}

.hidden {
  display: none;
}

.topBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #000000;
}

.logo {
  width: 150px;
  height: auto;
  background-color: var(--tertiary-color);
}

.hidden {
  display: none;
}

.bigContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
}

.container , .container2{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	gap: 50px;
}

h2{
	margin-bottom: 100px;
	font-size: 25px;
}

.sec {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.choices{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 25px;
	
	width: 35vw;
}

.form{
	margin-bottom: 25px;
}

.btn{
	width: 250px;
	height: 50px;
	background-color: var(--secondary-color);
	color: var(--main-color);
	font-size: 20px;
	font-family: "Lora", serif;
	border-radius: 10px;
	border: 2px solid var(--secondary-color);
	
	margin-bottom: 25px;
	
}

input , select{
	margin-right: 25px;
	width: 100px;
	height: 25px;
	border-radius: 10px;
	
	font-family: "Lora";
	
	border: 1px solid var(--secondary-color);
}

.submit{
	background-color: var(--tertiary-color);
	border: 1px solid var(--tertiary-color);
	color: var(--main-color);
	font-family: "Lora";
}

label{
	margin-right: 5px;
	font-family: "Lora";
	font-style: italic;
	font-size: 18px;
}

#logout {
	width: 100px;
	height: 40px;
	border-radius: 10px;
	background-color: var(--main-color);
	color: var(--secondary-color);
	font-size: 15px;
	font-family: "Lora";
	float: right;
	
	margin-right: 15px;
}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--secondary-color);
  color: var(--main-color);
  margin: 0;
  padding: 0;
  
  font-family: "Lora";
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}