@charset "UTF-8";
:root {
  --main-color: #f0f0f1;
  --secondary-color: #000000;
  --tertiary-color: #50575e;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  
  font-family: "Lora";

  overflow: hidden;
}

.hidden {
  display: none;
}

.topBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #000000;
}

.logo {
  width: 150px;
  height: auto;
  background-color: var(--tertiary-color);
}

.text{
	margin-top: 50px; 
}

.choices {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 250px;
	gap: 20px;
	
}


.btn {
	height: 50px;
	width:	150px;
	background-color: var(--secondary-color);
	color: var(--main-color);
	text-align: center;
	font-family: "Lora";
	font-size: 15px;
	
	border-radius: 10px;
	margin-bottom: 25px;
}

.form {
	width: 150px;
}

label{
	font-family: "Lora" , serif;
}

input {
	width: 150px;
	font-family: "Lora" , serif;
	border-radius: 10px;
	padding: 5px;
	margin-top: 5px;
}

.change{
	margin-top: 10px;
	border-radius: 10px;
	border: 1px solid var(--tertiary-color);
	background-color: var(--tertiary-color);
	color: var(--main-color);
	font-family: "Lora" , serif;
	padding: 5px;
}

#logout {
	width: 100px;
	height: 40px;
	border-radius: 10px;
	background-color: var(--main-color);
	color: var(--secondary-color);
	font-size: 15px;
	font-family: "Lora";
	
	
	margin-bottom: 0px;
	margin-right: 15px;
}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--secondary-color);
  color: var(--main-color);
  margin: 0;
  padding: 0;
  
  font-family: "Lora";
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}