:root {
  --main-color: #f0f0f1;
  --secondary-color: #000000;
  --tertiary-color: #50575e;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  overflow: hidden;
}

.hidden {
  display: none;
}

.topBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background-color: #000000;

  margin-bottom: 2%;
}

.logo {
  width: 150px;
  height: 150px;
  background-color: var(--tertiary-color);
}

	.introText {
   display: none;
}
	
.trips {
	margin-top: 35px;
	border: 2px solid var(--secondary-color);
	overflow: scroll;
	width: 45vw;
	height: 25vw;
	border-radius: 5px;
	overflow-x: hidden;
}

.ele{
	border-bottom: 2px solid var(--secondary-color);
	padding : 15px;
}
	
form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
   }

form input,
form select {
  margin-right: 25px;
}

input,
select {
  height: 30px;
  border-radius: 5px;
  font-size: 1rem;
  font-style: italic;
  border: 2px solid var(--secondary-color);
  margin-right:10px;
}

label {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
  margin-right: 5px;
}

#estimate {
  margin-left: 50px;
  background-color: var(--tertiary-color);
  color: var(--main-color);
  font-size: 1rem;
  font-style: italic;
  border: none;
}

#purchase{
  margin-left: 50px;
  background-color: var(--tertiary-color);
  color: var(--main-color);
  font-size: 1rem;
  font-style: italic;
  border: none;
}

select{
	width:150px;
}

#tripNumber {
	width:150px;
}

.btn{
  margin-top: 50px;
  background-color: var(--secondary-color);
  color: var(--main-color);
  height: 30px;
  width: 250px;
  border-radius: 5px;
  font-size: 1rem;
  font-style: italic;
  border: none;
  
  margin-bottom: 25px;
 
  }
  
  .btns{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;  
	margin-top: 15px;
	margin-bottom: 25px;
  }
	
  .estimation{
	background-color: #FFFFFF;
	border: 2px solid var(--main-color);
	padding: 5px;
	border-radius: 25px;  
	margin-bottom: 25px;
  }
  